@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 2px solid red;
}

body {
  color: #212121;
  background-color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@media (min-width: 768px) {
  .flexbox {
    display: flex;
    flex-wrap: wrap;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    background-color: sienna;
  }
}

.section {
  padding: 60px 0;
}

@media (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.vissualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media (min-width: 1200px) {
  .title {
    font-weight: 36px;
    line-height: 1.14;
  }
}

.title .subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.link {
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .link {
    font-size: 18px;
    line-height: 1.17;
  }
}

@media (min-width: 768px) {
  .link {
    line-height: 1.14;
  }
}

.link.link--current {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .link.link--current {
    padding: 8px 0;
  }
}

.link.link--current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
}

.header {
  position: relative;
  text-decoration: none;
  border: 1px solid #ececec;
}

@media screen and (max-width: 767) {
  .header {
    padding: 10px 0px;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__container {
  background-color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .menu__container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 60px 0;
  }
  .menu__container.is-open {
    display: block;
  }
}

@media (min-width: 768px) {
  .menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  color: #000000;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__main {
  color: #2196f3;
}

.nav-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .nav-button {
    display: none;
  }
}

.nav-button .icon-cross {
  display: none;
}

.nav-button.is-open .icon-cross {
  display: block;
}

.nav-button.is-open .icon-menu {
  display: none;
}

.nav__icons:hover, .nav__icons:focus {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .menu {
    margin-left: 88px;
    margin-right: 84px;
  }
}

@media screen and (max-width: 767px) {
  .menu__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .menu__item .link {
    padding: 8px 0;
  }
}

@media (min-width: 768px) {
  .menu__item .link {
    padding: 32px 0;
  }
}

.menu .link:hover, .menu .link:focus {
  color: #2196f3;
}

.contacts {
  color: #757575;
}

@media screen and (max-width: 767px) {
  .contacts {
    padding-top: 60px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contacts {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .contacts {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    margin-left: 305px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 16px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts .link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts .link:hover, .contacts .link:focus {
  color: #2196f3;
}

.contacts__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .contacts__icon {
    margin-right: 8px;
  }
}

.hero {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img2/mobile/hero-img.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img2/mobile/hero-img@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img2/tablet/hero-img.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img2/tablet/hero-img@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img2/desktop/hero-Img.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img2/desktop/hero-Img@2x.jpg);
  }
}

.hero .btn {
  padding: 10px 32px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

/*Преимущества*/
@media (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .feature__item {
    margin-right: 30px;
    width: calc((100% - 30px * 1) / 2);
  }
}

@media screen and (max-width: 1199px) {
  .feature__item {
    margin-bottom: 30px;
  }
  .feature__item:nth-child(2n) {
    margin-right: 0;
  }
  .feature__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
  }
}

.feature__item:nth-child(4n) {
  margin-right: 0;
}

.feature__item::before {
  display: flex;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-antenna::before {
  background-image: url(../img2/icons/antenna.svg);
}

.icon-clock::before {
  background-image: url(../img2/icons/clock.svg);
}

.icon-diagram::before {
  background-image: url(../img2/icons/diagram.svg);
}

.icon-astronavt::before {
  background-image: url(../img2/icons/astronaut.svg);
}

.feature__subtitle.subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.feature__text {
  margin: 0;
  color: #757575;
}

/*чем занимаються*/
@media screen and (max-width: 1199px) {
  .section.work {
    display: none;
  }
}

@media (min-width: 1200px) {
  .section.work {
    padding-top: 0;
  }
}

.work__list {
  display: flex;
  flex-wrap: wrap;
}

.work__item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.work__item:nth-child(3) {
  margin-right: 0;
}

/* overlay with subtitle */
.work__thumb {
  position: relative;
}

.work__subtitle.subtitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 27px 0;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

@media (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: 768px) {
  .team__item {
    margin-right: 30px;
    width: calc((100% - 30px * 1) / 2);
  }
}

@media screen and (max-width: 1199px) {
  .team__item {
    margin-bottom: 30px;
  }
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
  .team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .team__item {
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
  }
}

.team__item:nth-child(4n) {
  margin-right: 0;
}

.team__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__text.text {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
}

/* список соцсети */
.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.social__link--white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--white:hover, .social__link--white:focus {
  background-color: #2196f3;
}

.social__icon--white {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* клиенты */
.client {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .client {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .client__item {
    width: calc((100% - 30px * 1) / 2);
  }
  .client__item:nth-child(2n) {
    margin-right: 0;
  }
  .client__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .client__item {
    width: calc((100% - 30px * 2) / 3);
  }
  .client__item:nth-child(3n) {
    margin-right: 0;
  }
  .client__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .client__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .client__item {
    width: calc((100% - 30px * 5) / 6);
  }
  .client__itemnot:last-child {
    margin-right: 30px;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border-color: #2196f3;
}

.client__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

.footer__logo.logo {
  color: #ffffff;
  text-align: center;
}

@media (min-width: 1200px) {
  .footer__logo.logo {
    margin-right: 156px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer__address {
    margin-left: 76px;
    margin-right: 165px;
  }
}

.address {
  font-style: normal;
  margin-top: 20px;
}

@media screen and (max-width: 1199px) {
  .address {
    padding-bottom: 60px;
  }
}

.adress__item {
  display: block;
}

@media screen and (max-width: 1199px) {
  .adress__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media (min-width: 1200px) {
  .adress__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adress__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:hover, .adress__link:focus {
  color: #2196f3;
}

.footer__social {
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer__social {
    margin-right: 93px;
  }
}

.footer__subtitle {
  text-align: center;
  display: block;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .footer__tablet {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: 1200px) {
  .footer__desktop {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
}

.subscribe__mail {
  display: block;
  width: 100%;
  min-height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .subscribe__mail {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe__mail::placeholder {
  padding-left: 16px;
  font-size: 16px;
  padding-left: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__btn.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
}

.subscribe__icon {
  fill: #ffffff;
  margin-left: 10px;
  text-align: center;
}

@media (min-width: 1200px) {
  .subscribe {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .subscribe__form {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .subscribe .footer__subtitle {
    display: flex;
  }
}

/* outline-color: transparent; */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .backdrop {
    padding: 94px 15px;
  }
}

@media screen and (max-width: 768px) {
  .backdrop {
    overflow-y: scroll;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%, -50%) scale(0);
}

.modal {
  padding: 40px;
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    width: 100%;
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  outline: none;
  text-align: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:focus, .modal__btn-close:hover {
  fill: #2196f3;
}

.form__title {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__field:focus-within {
  color: #2196f3;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form__input:focus, .form__input:hover {
  border-color: #2196f3;
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-25%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon .form__input:focus, .form__input:hover ~ .form__icon {
  fill: #2196f3;
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form__textarea::placeholder {
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:focus, .form__textarea:hover {
  border-color: #2196f3;
}

.checkbox {
  width: 1px;
}

.checkbox__text::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid;
  border-radius: 2px;
  color: #212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .checkbox__text::before {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../img2/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox__label {
  display: flex;
  margin-bottom: 30px;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .checkbox__label {
    font-size: 12px;
    line-height: 1.16;
  }
}

.checkbox__link {
  color: #2196f3;
  text-decoration-line: underline;
}

.submit {
  display: flex;
  justify-content: center;
}

.submit__btn.btn {
  padding: 10px 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit__btn.btn:hover, .submit__btn.btn:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */