.adress {
  margin-right: 70px;
}


.adress__name {
 
  color: $white;
  font-style: normal;
}
.adress__link {
  display: block;
  margin-top: 9px;
  margin-bottom: 0;
 
  font-style: normal;
  color: $footer-tel-mail-color;
  
  transition: color $main-transition;

&:hover,
&:focus {
  color: $acent;}
}