.checkbox {
  
  width: 1px;
  // height: 1px;
  //  margin: -1px;
  // border: 0;
  // padding: 0;
  // clip: rect(0 0 0 0);
  // overflow: hidden;
  
}

.checkbox__text::before {
  content: "";
   display: inline-flex;
  
  width: 16px;
  height: 15px;
  // margin-left: 13px;
  margin-right: 7px;
  border: 2px solid;
  border-radius: 2px;
  color: $primery-text-color;
  transition: all $main-transition;

  .checkbox:checked ~ & {
  background-color: $acent;
  border-color: $acent;
  background-image: url(../img2/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
}
.checkbox__label {
  display: flex;
  justify-content: center;
  
  margin-bottom: 30px;
   color: $text-color;
 @media screen and (max-width: 1199px){
  font-size: 12px;
  line-height: 1.16;
 }}

.checkbox__link {
  color: $acent;
  text-decoration-line: underline;
}

.submit {
  display: flex;
   justify-content: center;  }
.submit__btn.btn {
  // min-width: 200px;
  padding: 10px 56px;

  transition: background-color $main-transition;
  
&:hover,
&:focus {
  background-color: #188ce8;
}
}

