
 .contacts {
   @media screen and (min-width: 767px) and (max-width: 1199px){
     font-size: 12px;
   }
  @include for-size(desktop){
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
  }

 }
  

// //  display: flex;
// //  flex-direction: column;
// }

// .contacts .link {

//   // display: flex;
//   // align-items: center;

//   color: $text-color;

//     &:hover,
//     &:focus {
//   color: $acent;
// }

// }

// .contacts__icon {
// //  
//   fill: currentColor;
// }


// // .contacts__item:not(:last-child) {
// //   margin-right: 30px;
// // }