.footer {
  background-color: $footer-bg-color;
  padding: 60px 0;
}
.footer-flexbox {
  display: flex;
  align-items: baseline;
}
.footer__logo.logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 93px;
  color: $white;
}
.footer__subtitle.subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  color: $white;
}
.footer-social {
  display: flex;
  flex-direction: column;
  margin-right: 93px;

  & .social__item:not(:last-child) {
  margin-right: 10px;
}
}
