.subscribe {
  display: flex;
  flex-direction: column;
}

.subscribe__form {
  display: flex;
  flex-direction: row;
}

.subscribe__mail {
  width: 358px;
  min-height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $footer-bg-color;
  color: $white;

  &::placeholder {
  font-size: $btn-text-fs;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
}

.subscribe__btn.btn {
  display: flex;
  align-items: center;

  padding-left: 29px;
  padding-right: 28px;
  width: 200px;
  height: 50px;
  border-radius: 4px;

  /* outline-color: transparent; */
}
.subscribe__icon {
  fill: $white;
  margin-left: 10px;
  text-align: center;
}
