.footer {
  background-color: $footer-bg-color;
  padding: 60px 0;
  color:  $white;
  @media screen and (max-width: 1199px){
      text-align: center;
  }
}
.footer__logo.logo {  
   color: $white;
  text-align: center;
@include for-size(desktop) {
     
    margin-right: 156px;
   }}

  .footer__address{
     @media screen and (min-width: 767px) 
     and (max-width: 1199px)
     { margin-left: 76px;
    margin-right: 165px;}

     
  }
  
.address {
  font-style: normal;
  margin-top: 20px;
   @media screen and (max-width: 1199px){
     padding-bottom: 60px;
   }
  
}
.adress__item{
  display: block;
  @media screen and (max-width: 1199px){
    &:not(:last-child)
     {margin-bottom: 8px;
  }}
@include for-size(desktop){
  &:not(:last-child)
     {margin-bottom: 9px;
  }}}
  .adress__link {
     text-decoration: none;
    color: $footer-tel-mail-color;
    transition: color $main-transition;
 &:hover,
 &:focus {
   color: $acent;}
  }
// .footer__social

.footer__social {
  padding-bottom: 60px;
  @include for-size(desktop) {
     
    margin-right: 93px;
   }
}

  .footer__subtitle {
    display: block;
    font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
}
 //  .footer__tablet
   .footer__tablet {
     @include for-size(tablet){
       display: flex;
    justify-content: space-between;
    align-items: baseline;}
   }
   .footer__desktop{
     @include for-size(desktop){
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
     }
   }
   
  
  // @media screen and (min-width: 768px) 
  //  and (max-width: 1199px){
  // display: flex;
  //  justify-content: space-between;
  //  align-items: baseline;
  //  padding-left: 79px;
  //  padding-right: 89px;
  //  }}
  
     
  // @include for-size (desktop){ justify-content: flex-start; 
    
  //  }



//    @include for-size (desktop){
//       margin-right: 93px;
//  }}
 

// .footer__flaxbox{
//   @include for-size (desktop){
//     display: flex;
//     align-items: baseline;
//     padding:60px 0;
//   }
// }
// .footer__logo.logo {
//    @include for-size (desktop){
//      margin-right: 156px;}
// }
// .footer__subtitle.subtitle {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 20px;
//   color: $white;
// }
// // adress
// .adress {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding-bottom: 60px;
//  font-style: normal;
//  color: $white;
// //  @include for-size (desktop){
//  }



