.footer {
  display: flex;
  // justify-content: center;
  // align-items: center;
  background-color: $footer-bg-color;



}
// .footer-flexbox {
//   display: flex;
//   align-items: baseline;
// }
.footer__logo.logo {
  margin-bottom: 20px;
 
  color: $white;
 
}
.footer__subtitle.subtitle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: $white;
}
 
//   display: flex;
//   flex-direction: column;
//   margin-right: 93px;

//   & .social__item:not(:last-child) {
//   margin-right: 10px;
// }
.adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
 font-style: normal;
}


.adress__name {
 
  color: $white;
  

}
.adress__link {
  display: block;
  margin-top: 8px 0;
  color: $footer-tel-mail-color;
  
  // transition: color $main-transition;
}

// &:hover,
// &:focus {
//   color: $acent;}
// }
.footer-social {
   padding: 60px 0;
 }