.footer {
  display: flex;
  // justify-content: center;
  // align-items: center;
  background-color: $footer-bg-color;



}
// .footer-flexbox {
//   display: flex;
//   align-items: baseline;
// }
.footer__logo.logo {
    display: flex;
    text-align: center;
  margin-bottom: 20px;
 
  color: $white;
  list-style: none;
}
.footer__subtitle.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0;
  margin-bottom: 20px;
  color: $white;
}
// .footer-social {
//   display: flex;
//   flex-direction: column;
//   margin-right: 93px;

//   & .social__item:not(:last-child) {
//   margin-right: 10px;
// }

