.subscribe__mail{
     width:450px;
    min-height: 50px;
    font-size: $btn-text-fs;
    line-height: 1.25;
    padding: 15px 16px;
    background-color: inherit;
    border: 1px solid rgba(255,255,255,0.3);
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.15));
    border-radius: 4px;
    color: $white;
    @include for-size(desktop) {
      width: 358px;
    margin-right: 12px;
   }}

   .subscribe__btn.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    min-width: 200px;
    @media screen and (max-width: 1199px){
      margin-top: 20px;
    }}

.subscribe__icon {
   fill: $white;
   margin-left: 10px;
   text-align: center;
 }
 
  .subscribe{
   @include for-size(desktop) {
  flex-direction: column; }}
 


.subscribe__form {
 @include for-size(desktop){
     display: flex;
 }
}
 
.subscribe .footer__subtitle{
  @include for-size(desktop){
    display: flex;
  }}
  
    
    



    