.header {
   position: relative;
  //  width: 100%;
  //  top: 0;
  //  left: 0;
  //  min-height: 60px;
   border: 1px solid #ececec;
  @media screen and (max-width: 767) {
 
   padding: 10px 0px;
 }}
  

  .header__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 
// navigation
.menu__container {
  background-color:$white;
  
  text-align: center;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    padding: 60px 0;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
    @include for-size(tablet) {
      display: flex;
      justify-content: space-between;
    align-items: center;
  }
}



