.link {
  
 color: $primery-text-color;
 @include font(18px, 1.16, 500);
  
  letter-spacing: 0.02em;
  

  text-decoration: none;
  transition: color $main-transition;}

.link--current {
 position: relative;
  display: block;
  //  padding: 32px 0;
   text-decoration: none;

   @include font(18px, 1.16, 500);
  letter-spacing: 0.02em;
 
 
  color: $acent;


  &::after {
   position: absolute;
  content: "";
   left: 0;
   bottom: -2%;
  margin-top: 8px;

  width: 61px;
  height: 4px;
  border-radius: 2px;
  background: $acent;

}
}

