 .menu {
   
 

  
  //  @media screen and (max-width: 767px){
  //    padding: 60px 0;
  //  }
   @include for-size(tablet) {
     display: flex;
    align-items: center;
     justify-content: flex-start;
   }
   @media screen and (min-width: 767px) and (max-width: 1199px){
     margin-left: 88px;
    margin-right: 84px;
   }
   
 }
 .menu__item {
   
   @media screen and (max-width: 767px){
    &:not(:last-child)
     {margin-bottom: 40px;}}
     @include for-size(tablet){
       &:not(:last-child)
     {margin-right: 50px;}


    }}
    .menu__item .link {
      @media screen and (max-width: 767px) {
         padding: 8px 0;
      }
      @include for-size(tablet){padding: 32px 0;}
    }
     .menu .link {
        &:hover,
        &:focus {
       color:$acent;
     }}
  


