.modal {
  padding: 40px;
  position: relative;
  border-radius: 4px;

  background: $white;
  box-shadow: $modal-team-box-shadow;
 
   @include for-size (tablet){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);

   width: 100%;
   max-width: 528px;
  min-height: 581px;}
  
   }
.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: $logo-color;
  outline: none;
  text-align: center;

  transition: fill $main-transition;

&:focus,
&:hover {
  fill: $acent;
}}
