.submit {
  display: flex;
  justify-content: center;
}
.submit__btn.btn {
  min-width: 200px;
  padding: 10px 56px;

  transition: background-color $main-transition;
  
&:hover,
&:focus {
  background-color: #188ce8;
}
}
