html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
//  outline: 2px solid red;
  
}

body {
  color: $primery-text-color;
  background-color: $white;
  text-decoration: none;
  
   font-weight: 400;

  font-size: $main-fs;
  line-height: 1.71;
  font-style: normal;
  font-family: $main-font-family;
  letter-spacing: 0.03em;
  

@media screen and (max-width: 767px){
  padding-top: 60px;
}
@include for-size (desktop){
  padding-top: 80px;
}
}
  



.list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
 .flexbox {
   @include for-size(tablet){
   display: flex;
   flex-wrap: wrap;
 }}
.container {
   width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;


  @include for-size(mobile) {
    width: 480px;
    
  }

  @include for-size(tablet) {
    width: 768px;

  }


  @include for-size(desktop) {
    width: 1200px;
  }
}


 .section {
   padding: 60px 0;

 @include for-size (desktop) {

  padding: 94px 0;
   
}}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.vissualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font-weight: $subtitle-btn-fw;
  font-size: $btn-text-fs;
  line-height: $btn-lh;
  letter-spacing: 0.06em;
  min-width: 200px;
  color: $white;
  background-color: $acent;
  border: none;
  outline: none;
  

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  
}

.title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: $subtitle-btn-fw;
  font-size: $title-fs;
  line-height: 1.17;
  text-align: center;
  @include for-size (desktop) {
     font-weight: 36px;
     line-height: $link-subtitle-lh;
}
.subtitle {
  font-size: $main-fs;
  font-weight:500;
  line-height: $link-subtitle-lh;
  text-transform: uppercase;
   

   }

}
.text {
  font-size: $btn-text-fs;
  line-height: 1.87;
  color: $text-color;


}
