$primery-text-color: #212121;
$text-color: #757575;
$acent: #2196f3;
$footer-tel-mail-color: rgba(255, 255, 255, 0.6);
$logo-color: #000000;
$main-bg-color: #e5e5e5;
$section-team-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$white: #ffffff;
$button-bck-color: #f5f4fa;
$bcg-hero: #c4c4c4;
$icon-color: #afb1b8;
$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$modal-team-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
$main-fs: 14px;
$btn-text-fs: 16px;
$portfolio-text-fs: 18px;
$title-fs: 36px;
$subtitle-btn-fw: 700;
$link-subtitle-lh: 1.14;