/* клиенты */

.client {
  display: flex;

  &__item:not(:last-child) {
  margin-right: 30px;
}
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid $icon-color;
  border-radius: 4px;

  transition: border-color $main-transition;

 &:hover,
 &:focus {
  border-color: $acent;
}
}


.client__icon {
  fill: $icon-color;

  transition: fill $main-transition;
  .client__link:hover &,
   .client__link:focus & {
  fill: $acent;
}
}


