/* клиенты */
.client {
display: flex;
 flex-wrap: wrap;
 
 

 &__item {
   display: flex;
   margin-right: 30px;
   margin-bottom:30px ;
   width: calc((100% - 30px * 1) / 2);}
   
   &__item:nth-child(2n) {   margin-right: 0; }
 
  &__item:nth-last-child(-n + 2) {
   margin-bottom: 0;
  }}


.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  border: 1px solid $icon-color;
  border-radius: 4px;

  transition: border-color $main-transition;

 &:hover,
 &:focus {
  border-color: $acent;
}
}


.client__icon {
  fill: $icon-color;

  transition: fill $main-transition;
  .client__link:hover &,
   .client__link:focus & {
  fill: $acent;
}
}


