/* клиенты */
.client {
display: flex;
 flex-wrap: wrap;
   
  @include for-size (desktop) {
justify-content: space-between;}

}
 
 

 .client__item{
    margin-right: 30px;
    margin-bottom: 30px;
    
   @media screen and (max-width: 767px){
    

   width: calc((100% - 30px * 1) / 2);
   
   &:nth-child(2n) { margin-right: 0;}
 
    &:nth-last-child(-n + 2) {
    margin-bottom: 0;}
}}


   .client__item {
   @include for-size (tablet) {
   width: calc((100% - 30px * 2) / 3);
   &:nth-child(3n) { margin-right: 0;}
   &:nth-last-child(-n + 3) {
    margin-bottom: 0;}}}

   

 



    
     .client__item {
       
       @include for-size (desktop) {
         width: calc((100% - 30px * 5) / 6);
         &not:last-child {margin-right: 30px;}
   margin-bottom: 0;
      
 }}
 

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 90px;
  border: 1px solid $icon-color;
  border-radius: 4px;

  transition: border-color $main-transition;

 &:hover,
 &:focus {
  border-color: $acent;
}
}


.client__icon {
  fill:$icon-color;

  transition: fill $main-transition;
  .client__link:hover &,
   .client__link:focus & {
  fill: $acent;
}
}


