/*Преимущества*/

.feature__item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;

    &:nth-child(4) {
  margin-right: 0;
 }

  &::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;

  background: $section-team-bg-color;
  background-position: center;
  background-repeat: no-repeat;
}
}

.icon-antenna::before {
  background-image: url(../img2/icons/antenna.svg);
}
.icon-clock::before {
  background-image: url(../img2/icons/clock.svg);
}
.icon-diagram::before {
  background-image: url(../img2/icons/diagram.svg);
}
.icon-astronavt::before {
  background-image: url(../img2/icons/astronaut.svg);
}

.feature__subtitle.subtitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.feature__text {
  margin: 0;
  color: $text-color;

}
