/*Преимущества*/
  .feature__list {

  @include for-size (tablet) {
     display: flex;
     flex-wrap: wrap;}
     @media screen and (max-width: 1199px){
       margin-right: -15px;
    }
  }

    .feature__item {
     @include for-size (tablet) {
       width: calc((100% - 2 * 30px) / 2);}
        @media screen and (max-width: 1199px){
        margin: 15px;
        margin-bottom:30px;
      &:nth-last-child(-n + 2) {
       margin-bottom: 0} }

          @include for-size (desktop) {
            margin-right: 30px;
       width: calc((100% - 30px * 3) / 4);}
   
   &:nth-child(4) {
   margin-right: 0;
}}

 .feature__item::before {
   display: flex;
 
  content: "";

  height: 120px;
   margin-bottom: 30px;
  background: $section-team-bg-color;
  background-position: center;
  background-repeat: no-repeat;
}


.icon-antenna::before {
  background-image: url(../img2/icons/antenna.svg);
}
.icon-clock::before {
  background-image: url(../img2/icons/clock.svg);
}
.icon-diagram::before {
  background-image: url(../img2/icons/diagram.svg);
}
.icon-astronavt::before {
  background-image: url(../img2/icons/astronaut.svg);
}

.feature__subtitle.subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.feature__text {
  
  margin: 0;
  color: $text-color;
}
