.team {
  background-color: $section-team-bg-color;

}
 .team__list {
    @include for-size (tablet) {
    
  display: flex;
  flex-wrap: wrap;}}

  .team__item {
    box-shadow: $modal-team-box-shadow;
    border-radius: 0px 0px 4px 4px;

    @include for-size (tablet){
   margin-right: 30px;
   
   width: calc((100% - 30px * 1) / 2);}
   @media screen and (max-width: 1199px) {
     margin-bottom:30px;
   
   &:nth-child(2n) { margin-right: 0;}
 
   &:nth-last-child(-n + 2) {
   margin-bottom: 0;}}
   
   @include for-size (desktop) {

 width: calc((100% - 30px * 3) / 4);
 margin-right: 30px;}
&:nth-child(4n){margin-right: 0;}
 }


.team__subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: $btn-text-fs;
  line-height: 1.18;
  text-align: center;
}
.team__text.text {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
}
